@import '../utils/index.scss';
.product {
  max-width: 100%;
  margin: auto;
  padding: 2rem;
  background-color: white;
  border-radius: 1rem;

  .brand {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: $darkGrayishBlue;
    letter-spacing: 0.1rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 1.2;
    margin: 1rem 0;
  }

  .description {
    color: $darkGrayishBlue;
    margin: 1rem 0;
    line-height: 1.7;
  }

  .priceSection {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;

    .priceMain {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
    .price {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .discount {
      background-color: black;
      color: white;
      padding: 0.1rem 0.5rem;
      border-radius: 0.25rem;
    }
  }
  .priceSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .originalPrice {
    text-decoration: line-through;
    color: $darkGrayishBlue;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cartIcon {
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.3rem;
}
