@import '../utils/index.scss';
.header-main {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.header-left {
}
.header-right {
}
.image {
    width: 2rem;
    margin-left: 2rem;
}
