@import '../utils/index.scss';
.slider {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainImageContainer {
  width: 100%;
}

.mainImage {
  width: 100%;
  height: auto;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  cursor: pointer;
  z-index: 1;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowLeft {
  left: 1rem;
}

.arrowRight {
  right: 1rem;
}

.arrowLeft:hover,
.arrowRight:hover {
  color: hsl(26, 100%, 55%);
}
.thumbnailContainer {
  display: none;
}

@media (min-width: $tablet) {
  .slider {
    margin: 4rem 0;
    width: 25rem;
  }
  .mainImageContainer {
    width: 100%;
  }
  .mainImage {
    border-radius: 1rem;
  }
  .arrowLeft,
  .arrowRight {
    top: calc(50% - 2.55rem);
  }
  .thumbnailContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }

  .thumbnail {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
    opacity: 1;

    &:hover {
      border-color: hsl(26, 100%, 55%);
    }

    &.active {
      border-color: hsl(26, 100%, 55%);
      opacity: 0.6;
    }
  }
}
